!!!
%html{ "ng-app" => "TomsApp" }
	%head
		%title Test Task for Daniel
		%link{ href: 'css/style.css', rel: 'stylesheet' }
	%body
		.main{ "ng-view" => "" }

		%script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
		%script{ src: "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js" }
		%script{ src: "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js" }
		%script{ src: "js/app.min.js" }

		%script{ src: "http://localhost:35729/livereload.js" }